*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgb(38, 30, 20);
  color: rgb(224, 231, 146);
}

/* Logo */


/* Menu list */
.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

/* Menu items */
.nav-list li {
  cursor: pointer;
}

/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ---------- Mobile View ---------- */
@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 60px;
    right: 0;
    background: black;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    display: none;
  }

  .nav-list.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
